/* font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif; */

* {  
 box-sizing: border-box;
}

body {
  font: 'Source Sans Pro', sans-serif;
}

.display_none {
  display: none;
}

.main_page_h1 {
  text-align: center;
  margin-top: 20%;
}

.main_page, .question_page, .answer_page, .final_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font: "Playfair Display", serif;
}

h2 {
  margin-bottom: 50px;
}

.start_button {
  width: 200px;
  height: 80px;
  border-radius: 25px;
  font-size: 20px;
}